{% extends 'base.html.twig' %}

{% block title %}Accounts users{% endblock %}

{% block body %}
    <h1 class="h3 m-3">
        Liste de <strong>Collaborateurs</strong>
    </h1>
    <Utable></Utable>
    
{% endblock %}
