{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
        <h1 class="h3 m-3">
            Liste de <strong>Réservations</strong>
        </h1>
    <Rtable></Rtable>
{% endblock %}
