{% extends 'base.html.twig' %}

{% block title %}Liste de Chambres{% endblock %}

{% block body %}
    <h1 class="h3 m-3">
        Liste de <strong>chambres</strong>
    </h1>
    <Ctable></Ctable>
{% endblock %}