{% extends 'base.html.twig' %}
{% block title %}Liste de validation{% endblock %}
{% block body %}
        <h1 class="h3 m-3">
        Liste de <strong>Validations</strong>
        </h1>
        <Vtable></Vtable>
{% endblock %}
