{% extends 'base.html.twig' %}

{% block title %}Liste de clients{% endblock %}

{% block body %}
        <h1 class="h3 m-3">
        Liste de <strong>Clients</strong>
        </h1>
    <Cutable></Cutable>
{% endblock %}
